.hidden {
    display: none;
    transition: all 0.5s;
}

#profile-pic {
    transition: all 0.5s;
}

.card-text {
    margin-top: 0.5rem;
}

body {
    background-color: #f8f9fa;
}

#landing {
    transition: all 0.5s ease;
}

#about-text {
    max-width: 600px;
}



.btn-toshiba {
    background-color: #E60012;
    color: white;
    border: none;
    transition: 0.3s;
}

.btn-toshiba:hover {
    background-color: #B2000E;
}


.btn-toshiba-outline {
    background-color: white;
    color: #E60012;
    border: 2px solid #E60012;
    transition: 0.3s;
}

.btn-toshiba-outline:hover {
    background-color: #E60012;
    color: white;
}

#landing h1,
#landing h5,
#about-text h2,
#projects-section h2,
#contact-section h2 {
    color: #E60012;
    /* Toshiba red */
}

#job-title {
    color: #333333;
    /* dark gray for subtitle */
}